/* Normalize
 ======================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    border: 0;
}
/* Colors
 ======================== */
.white {
    color: #fff;
}
.black {
    color: #1D1E1F;
}
.grey {
    color: #868686;
}
.blue {
    color: #24A9F9;
}
.green {
    color: #69DB91;
}
.pink {
    color: #F4A1C4;
}
.faded-pink {
    color: #A97389;
}
.rust {
    color: #A28114;
}
.yellow {
    color: #DFB113;
}
.gold {
    color: #ddac36;
}
.bg-brown {
    background-color: #0C0C0C;
}
.bg-white {
    background-color: #fff;
}
.bg-red {
    /*background-color: #da0024;*/
}
.bg-black {
    background-color: #1D1E1F;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
/*  color: rgba(95, 92, 59,1);
    color: rgb(125, 188, 169);
    color: rgba(255,155,109,1);
    color: rgb(234, 253, 137); */

/* Main
 ======================== */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #000;
}
ul, h1, h2, h3, h4, article {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    /*font-family: 'Lora', serif;*/
    line-height: 1;
}
p {
    font-size: 1rem;
    font-weight: 600;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.full-width {
    width: 100%;
    float: left;
    padding: 30px 0 60px 0;
}

/* Container device sizes
 ======================== */

@media(max-width: 767px) {
    .container {
        width: 90%;
    }
}

.heading {
    font-size: 2.5rem;
    line-height: 3.6rem;
    color: #0C0C0C;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 25px;
    border-top: 3px solid #0C0C0C;
}
.heading-secondary {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 300;
    margin-top: 30px;
}
.art-boxZ {
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    float: left;
    border: 0;
    padding: 10px;
    transition: .3s all;
}
.art-piece {
    width: 100%;
    display: block;
    cursor: pointer;
}
.art-title {
    display: block;
    margin-top: 15px;
    padding-bottom: 10px;
    color: #0C0C0C;
    font-size: 1.2rem;
    font-weight: 300;
}

.col-third {
    width: 33%;
    float: left;
}
.col-third .art-box {
    box-sizing: border-box;
    padding: 10px;
    max-width: 100%;
    height: auto;
}

/* Mobile
  ======================== */
@media(max-width: 480px) {
    .heading {
        font-size: 1.7rem;
        line-height: 2.8rem;
        margin-top: 25px;
    }
    .heading-secondary {
        font-size: 1.4rem;
        line-height: 2.3rem;
        margin-top: 20px;
    }
    .art-box {
        width: 100%;
    }
    .art-box:nth-child(odd) {
        margin-left: 0;
    }
}
.footer {
    width: 100%;
    padding: 80px 0;
    text-align: center;
    float: left;
}
.footer-copy {
    color: #333;
    line-height: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}